<a href="https://colab.research.google.com/github/Shaif95/AI_Camp_Week2/blob/main/intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

This notebook aims to introduce students to the fundamentals of Python through a more interactive approach than traditional classroom settings. Students will be encouraged to independently explore topics and return to share their insights with the class.

### Variables

Variables allow us to store values by assigning them to a specific word or name using the "=" sign. This means the value on the right is stored in the name on the left. Letâ€™s try assigning a few variables in the next code block.

In [ ]:
Name = 10 # This is a comment
b = 2
c = 3
Name (This is a comment - anything after a # on the same line will be ignored)

10

We can also perform basic algebra to these variables and save the output to a new variable

In [ ]:
d = a + b
d

30

In [ ]:
e = c - a
e

-7

In [ ]:
f = b * c
f

60

In [ ]:
g = a / b
g

0.5

In [ ]:
a = 18
b = 4
c = a/b
c

4.5

Sometimes we want to update the value of one variable, so we can do this

In [ ]:
g = g*2 # the same thing works for /, +, and -
g

1.0

This can get quite annoying with longer variable names, so we can do the following

In [ ]:
f/=2 # there is also +=, -=, and *=
f

30.0

There are many different types of variables we can create. In this next section, students will explore how to create three specific types: strings, floats, and booleans. Once you've created these variables, try applying the same operations we used earlier and observe the results.

In [ ]:
st = "Name" # String Var
st1 = 10    # Integer
st2 = 2.2   #Float
st3 = False   # Boolean
st = 's'   # Char

Create a few string variables here, then try to add them together, subtract them, multiply them and divide them to see what happens. You may get an error, and thats okay. Its important to know what can and can't be done with a type of data.

In [ ]:
a= 1
b= 2
c= str(a) + str(b)

c #St can't be added together like algebra?

'12'

Create a few float variables here, then try to add them together, subtract them, multiply them and divide them to see what happens. You may get an error, and thats okay. Its important to know what can and can't be done with a type of data.

In [ ]:
a = 2.5
b = 1.4
c = a +b
c

3.9

Create a few boolean variables here, then try to add them together, subtract them, multiply them and divide them to see what happens. You may get an error, and thats okay. Its important to know what can and can't be done with a type of data.

In [ ]:
a = True   # 1
b = False  # 0
c = a * b
c

1

### Lists

Lists are similar to the variables weâ€™ve worked with so far, but they can store multiple values at once. Weâ€™ll first go over how to create lists using the three variable types mentioned earlier, and then students will be asked to create their own examples.

First up, lists. you can create a list with the following code.

In [ ]:
my_list = [ 1, 2, 3, 4, "Name", True ]
my_list

[1, 2, 3, 4, 'Name', True]

To access a specific item from the list, you would do the following.

In [ ]:
my_list[5] # List index starts from 0

True

The first element in the list is at index 0, then the second element is at index 1 and so on.

In [ ]:
print(my_list[0], my_list[1], my_list[2], my_list[3], my_list[4])

1 2 3 4 Name

**TODO:** Now its your turn. We will have students create their own version of this data type.

Below, create a list of your favorite colors.

In [ ]:
#create a list of your favorite colors
fc = [ "red" ,  "blue" ]   # List

fc 2 = ("red", "blue")    # Tuple : Immutable
fc[0] = "blue"
fc

['blue', 'blue']

Now figure out how to `append()` an item to your list. Maybe google: "how to append an item to a list python"

In [ ]:
# append another color to the list of your favorite colors
fc.append("yellow")
fc

['blue', 'blue', 'yellow']

### For loops, while loops, and if statements

We will learn more about for loops throughout this whole week. For now, we will use them to go through a list and print out each element.

In [ ]:
my_list = [1,2,3,7,9]

for i in my_list:
    print("Two tabs")
    print("Hello")

print("End")

Two tabs
Hello
Two tabs
Hello
Two tabs
Hello
Two tabs
Hello
Two tabs
Hello
End

Next, we will look at how to make a list run a specific number of times.

In [ ]:
for i in range(1,5): # range functions the same here as the list [0,1,2,3,4]
    print('Hello')
    a = i
    print(a)

Hello
1
Hello
2
Hello
3
Hello
4

Next, weâ€™ll explore while loops. In general, anything you can do with a for loop can also be done with a while loopâ€”it just uses slightly different syntax. So if you find while loops easier to understand, feel free to focus on using them instead.

In the block below, weâ€™ll create a while loop that runs 5 times. Unlike for loops, while loops donâ€™t have a built-in end point, so itâ€™s important to define a clear and achievable exit conditionâ€”a condition that tells the loop when to stop. This condition is checked every time right before the loop runs (or re-runs). If we donâ€™t set a condition that eventually becomes true, the loop could run endlessly until it crashes or is manually stopped.

In [ ]:
i = 2

while i < 5:
    print("Hello World")
    print(i)
    i = i + 1

Hello World
2
Hello World
3
Hello World
4

Now for if statements. The if-elif-else statement is used to conditionally execute a statement or a block of statements. Conditions can be true or false, execute one thing when the condition is true, something else when the condition is false.

In [ ]:
a = 0
b = 2

if (a < b):
    print("a is greater than b")

a is greater than b

We can add else statements to the above. An else statement is what will be run if the original statement is false.

In [ ]:
a = 5
b = 2

if a > b:
    print("a is greater than b")
else:
    print("b is greater than a")

a is greater than b

Additionally, we can use elif statements to add additional conditions to the structure.

In [ ]:
a = 1
b = 5

if a > b:
    print("a is greater than b")

elif a == b:  # else-if as many as we want
    print("a equals b")

else:   #else
    print("b is greater than a")

b is greater than a

Now its your turn. Either break up into 3 teams and have each team solve one of the blocks or solve them all together.

In the next block, create a for loop that counts from 0 to 10 and prints out each number. Additionally, if the number is less than 3, print out "This is a small number".

In [ ]:
# for loop that counts from 0 to 10 -- check out the for loop that uses the range() function above.
for i in range(0,10):
    print(i)
    if i<3:
     print("This is a small number")

0
This is a small number
1
This is a small number
2
This is a small number
3
4
5
6
7
8
9

In the next block, create a while loop that prints out all of the even numbers between 1 and 10. Additionally, if the number is between 5 and 9, print the number out a second time.

In [ ]:
i = 0
for i in range(0,10,2):
  print(i)
  if (i > 5) and (i < 9):
    print(i)

0
2
4
6
6
8
8

In the next block, ask the user to input 3 items and add them all to a list. Then. create a loop that prints out each item that the user entered.

### Functions

Functions act like variables but instead of storing a value, they store lines of code. Below we can see how a function is created and used.

In [ ]:
def my_first_function():  #def to define a function
    print("hell")
    print("Hey again")
    print('Hello world')

In [ ]:
my_first_function()

hell
Hey again
Hello world

In [ ]:
my_first_function()

hell
Hey again
Hello world

Whenever the computer sees the function being used, it automatically runs the code stored inside of that function.

Additionally, functions can take in one or multiple values to use in their code, as we can see below.

In [ ]:
def add_numbers(a, b, c):  #parameters
    total = a + b
    print(total)

In [ ]:
add_numbers(1, 2, 3)  # Arguments

3

Finally, functions can include a return statement, which sends a result back to where the function was called. You can think of a function as a black box: the values inside the parentheses are the input, and the return statement provides the output. This output can be stored in a variable and used later. To demonstrate, weâ€™ll redefine the add_numbers function from earlier using a return statement.

In [ ]:
def add_numbers(a, b, c):
    total = a + b + c
    return total

In [ ]:
out = add_numbers(1, 2, 3)
out

6

Now its your turn! You can either work on each of the following challenges in teams of 2 or walk through each one as a group. In any case, it is recommended to look at them at a high level together so that everyone understands the concepts in each section.

In the block below, create a function that takes in 2 numbers and returns True if the product of the numbers is positive and False in all other cases.

In [ ]:
def is_product_positive(num1, num2):
    product = num1 * num2
    if product > 0:
        return True
    else:
        return False

result = is_product_positive(5, 6)
print(result)  # Output: True

result = is_product_positive(-3, 4)
print(result)  # Output: False

result = is_product_positive(-2, -9)
print(result)  # Output: True

True
False
True

In the block below, create a function that takes in a string and returns the string in reverse order. For example, if the input was "Hello" the output should be "olleH"

In [ ]:
def reverse_string(string):

    reversed = ''

    for i in string:

        reversed = i + reversed

    return reversed

# Example usage
my_string = "Hello, World!"
reversed_string = reverse_string(my_string)
print(reversed_string)  # Output: "!dlroW ,olleH"

!dlroW ,olleH

In the block below, create a function that takes in a list and prints out each element 1 at a time. For example, if the input was ['Dog', 'Cat', 'Hamster'], the output should be

Dog

Cat

Hamster